<!DOCTYPE html>
<html>

  <body>
    <h1>Clap Vision</h1>
    <div>
        <img id="video-feed" src="{{ url_for('object_detection_video') }}" width="50%"/>
        <br>
        <br>
        <button id="startObjectDetectionBtn" onclick="startObjectDetection()">Start Object Detection</button>
        <button id="stopObjectDetectionBtn" onclick="stopObjectDetection()">Stop Object Detection</button>
        <br>
        <button id="startBaseCameraBtn" onclick="startBaseCamera()">Start Face Detection</button>
        <button id="stopBaseCameraBtn" onclick="stopBaseCamera()">Stop Face Detection</button>
        <br>
        <button id="startFaceRecog" onclick="startFaceRecog()">Run Currency Detection</button>
        <button id="stopFaceRecog" onclick="stopFaceRecog()">Stop Currency Detection</button>
    </div>
    
    <script>
        var objectDetectionStarted = false;
        var baseCameraStarted = false;
        var FacRecogStarted = false;

        function startObjectDetection() {
            document.getElementById("video-feed").src = "{{ url_for('object_detection_video') }}";
            objectDetectionStarted = true;
        }

        function startBaseCamera() {
            document.getElementById("video-feed").src = "{{ url_for('face_detection_video') }}";
            baseCameraStarted = true;
        }
        function startFaceRecog() {
            document.getElementById("video-feed").src = "{{ url_for('face_recognition_video') }}";
            FacRecogStarted = true;
        }

        function stopFaceRecog(){
            document.getElementById("video-feed").src = "";
            FacRecogStarted = false;
        }

        function stopObjectDetection() {
            document.getElementById("video-feed").src = "";
            objectDetectionStarted = false;
        }

        function stopBaseCamera() {
            document.getElementById("video-feed").src = "";
            baseCameraStarted = false;
        }

        function loadResultPage(){
            var newUrl = '/testface';

            // Navigate to the new URL
            window.location.href = newUrl;
        }
    </script>
    </body>
</html>
